###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################

# general
* text=auto eol=crlf
*.cs text eol=crlf
*.cake text eol=lf
.gitlab-ci.yml text eol=lf
build.sh text eol=lf

*.sln        text eol=crlf
*.csproj     text eol=crlf
*.config	 text eol=crlf
*.cake		 text eol=crlf

*.sln       merge=binary
*.csproj    merge=binary

# binary
*.exe binary
*.[dD][lL][lL] binary
